@import "tailwindcss";

:root {
  --bg-main: #0f172a;        /* moins noir, plus lisible */
  --bg-secondary: #111827;
  --bg-card: #1e293b;

  --border-color: #334155;

  --text-main: #e2e8f0;
  --text-secondary: #94a3b8;

  --primary: #6366f1;
  --primary-hover: #4f46e5;

  --accent: #22c55e;
}

.light {
  --bg-main: #eef2f6;        /* fond global légèrement gris */
  --bg-secondary: #e5eaf0;
  --bg-card: #f8fafc;        /* cartes pas full white */

  --border-color: #d6dbe1;

  --text-main: #0f172a;
  --text-secondary: #5b6472;

  --primary: #4f46e5;
  --primary-hover: #4338ca;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
}